body {
  font-family: 'Raleway', sans-serif;
  background-color: #181e23;
}

.portfolio-container {
  width: 100vw;
  height: 100vh;
}

.portfolio-text-shadow {
  text-shadow: 1px 1px 5px black;
}

.intro-background {
  z-index: 0;
}

.intro-background::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background: url('../images/background_resized.jpg') center center;
  background-size: cover;
  left: 0;
  top: 0;
  filter: blur(12px);
}

.intro-background::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(24, 30, 35, 0.5);
}

.intro-container {
  z-index: 2;
}

.intro-content {
  max-width: 950px;
}

.next-slide-indicator-icon {
  margin-top: -5px;
}

.next-slide-indicator-label {
  letter-spacing: 2px;
}

/* Animations */

.portfolio-appear,
.header-secondary-enter,
.header-content-enter {
  opacity: 0;
}
.portfolio-appear-active {
  opacity: 1;
  transition: opacity 1s 0.5s;
}

.header-main-enter {
  position: relative;
  bottom: 0;
}
.header-main-enter-active,
.header-main-enter-done {
  position: relative;
  bottom: 2.5rem;
  transition: bottom 0.5s 0.2s ease-in-out;
}

.header-secondary-enter-active,
.header-secondary-enter-done {
  opacity: 1;
  transition: opacity 0.5s 0.3s;
}
.header-content-enter-active,
.header-content-enter-done {
  opacity: 0.5;
  transition: opacity 1s 0.8s;
}

.next-slide-indicator-enter {
  opacity: 0;
  margin-bottom: 0;
}
.next-slide-indicator-enter-active,
.next-slide-indicator-enter-done {
  opacity: 1;
  margin-bottom: 30px;
  transition: opacity 0.5s 2s, margin-bottom 0.75s 2s ease-out;
}

/* Overrides */

.carousel,
.slider-wrapper,
.slide {
  height: 100%;
}
